@import './base.css';

 /* 
$desktop: 1200px; // xl
$laptop: 1024px; // lg
$tablet: 768px; // md
$phone: 480px; // sm */

body {
    margin-left: 230px;
}

/* to ensure login page doesn't move because of the body margin-left */
main {
  margin-left: -230px;
}


@media screen and (min-width: 768px) {
  /* body {
    background-color: pink;
  } */
} 


@media (min-width: 1024px) {
  /* body {
    background-color: brown;
  } */
  .expense-value-dashboard {
    font-size: 4vw;
  }

}
@media (min-width: 1450px) {
  /* body {
    background-color: green;
  } */
  .spending-container{
    /* add a bit more space to the sides when screen size is big */
    margin: 0rem 3rem;
  }
}
@media screen and (max-width:1023px) {
  /* up to pink */
  .section2 {
    flex-direction: column;
  }
  .dashboard-section1 {
    flex-direction: column;
    gap: 2rem;
  }
  .top3 {
    margin: 1rem 0rem;
  }
  .doughnutchart {
    margin-bottom: 1rem;
  }
  .expense-value-dashboard {
    font-size: 7vw;
  }
}
@media screen and (max-width: 767px) {
  /* apply styling if screen width >= 480px*/
  /* body {
    background-color: blue;
  } */
  .section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .spending-container {
    flex-direction: column;
    align-items: center; /* centralise doughnut */
  }
  .expense-value-dashboard {
    font-size: 8vw;
  }
  
}

@media screen and (max-width: 700px) {
  /* apply styling if screen width >= 480px*/
  /* body {
    background-color: yellow;
  } */
  .expense-boxes {
    flex-wrap: wrap;
  }
  .expense-box {
    flex: 1;
  }
  .expense-value-dashboard {
    font-size: 7vw;
  }
}