@import './base.css';

#app {
    /* margin: 0 auto; */
  
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal; */
}

 /* $desktop: 1200px; // xl
  $laptop: 1024px; // lg
  $tablet: 768px; // md
  $phone: 480px; // sm */

body {
    margin-left: 230px;
}

@media screen and (max-width:1023px) {
  /* apply styling if screen width >= 480px*/
  .section2 {
    flex-direction: column;
  }

}
@media screen and (max-width: 767px) {
  /* apply styling if screen width >= 480px*/
  /* body {
    background-color: blue;
  } */
}

@media screen and (max-width: 700px) {
  /* apply styling if screen width >= 480px*/
  /* body {
    background-color: yellow;
  } */
  .expense-boxes {
    flex-wrap: wrap;
  }
  .expense-box {
    flex: 1;
  }
}


@media screen and (min-width: 768px) {
  body {
    /* background-color: pink; */
  }
  
} 


@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
    /* margin-left: 130px; */
    /* background-color: brown; */
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
@media (min-width: 1450px) {
  body {
    /* display: flex;
    place-items: center; */
    /* margin-left: 130px; */
    /* background-color: green; */
  }
}